.l-header {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.l-header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease 0.4s;
}
.l-header__nav__items {
  position: absolute;
  padding: 0;
  padding-top: inherit;
  top: 50%;
  left: 50%;
  transform: translate(0, 0);
}
.l-header__nav.active {
  transform: translateX(0);
}
.l-header__hamburger {
  width: 48px;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}
.l-header__hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease 0.4s;
  display: block;
}
.l-header__hamburger span:nth-child(1) {
  top: 0;
}
.l-header__hamburger span:nth-child(2) {
  margin: 8px 0;
}
.l-header__hamburger span:nth-child(3) {
  top: 0;
}
.l-header__hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}
.l-header__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.l-header__hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}